<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>melbourne-cafe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC1942F11ED6794C00711EC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC1942FF1ED6795C00711EC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC61967E1ECD15920023C94B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
